  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Sponge helps Victorians to understand their household water usage and how they can help fight water shortage with rain harvesting. We aim to make Victorians aware of their water usage while providing proven solutions for saving water.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6> </h6>
          <ul class="footer-links">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/calculator">Calculator</a></li>
            <li><a href="/rainhouse">RainHouse</a></li>
            <li><a href="/tips">Tips</a></li>
            <li><a href="/about">About</a></li>
            
            
          </ul>
        </div>
      </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/grayscale.min.js"></script>

<!-- CanvasJS script used for calculator visualization -->
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<!-- Amcharts -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


<!-- Number countup -->
<script src="js/counterup.min.js"></script>


</body>

</html>