<%- include("partials/header"); -%>


<header class="masthead d-flex" style="background-image: url(images/ocean.jpg); height: 20%;">
    <div class="container text-center my-auto">
        <h1 class="mb-1" style="color: antiquewhite; font-size: 4rem;">About Sponge</h1>
        <h3 class="mb-1" style="color: antiquewhite; font-size: 1.5rem;">
            Our vision is to bring an efficient water usage calculator and rain harvesting solution to all victorians,
            so that they can save water while contributing to the community
        </h3>

    </div>
</header>



<section class="testmonial pt-5 pb-5">
    <div class="container">

        <h2 class="text-center" style="padding:4rem">A Message from our team</h2>
        <div class="gallery-responsive row">




            <div class="card-inner p-4  col">
                <div class="d-flex justify-content-center">
                    <i class="fa fa-quote-right fa-5x quote-icon" aria-hidden="true"></i>
                </div>

                <div class="card-thumbnail d-flex justify-content-center mb-3">
                    <img class="image--cover" src="images/jay.png"
                        alt=""> </div>

                <div class="card-para">
                    <p class="card-text text-center">"People don't even realise that they are using so much water. Sponge is the right platform to understand your household water usage and start becoming more cautious about your water consumption"</p>
                </div>
                <p class="text-center testionial mt-3"><i class="fa fa-user-o " aria-hidden="true"></i> Jaywin D'mello,
                    Business Analyst
                </p>
            </div>



            <div class="card-inner p-4  col">
                <div class="d-flex justify-content-center">
                    <i class="fa fa-quote-right fa-5x quote-icon" aria-hidden="true"></i>
                </div>

                <div class="card-thumbnail d-flex justify-content-center mb-3">
                    <img class="image--cover" src="images/yue.png"
                        alt=""> </div>

                <div class="card-para">
                    <p class="card-text text-center">"I think its greats for users to educate themselves with basic tips which can be used in their daily life. Sponge will also ensure the user dive into the current issues faced by the Victorian government in terms of population and water levels"</p>
                </div>
                <p class="text-center testionial mt-3"><i class="fa fa-user-o " aria-hidden="true"></i> Yue Wang,
                    Developer
                </p>
            </div>




            <div class="card-inner p-4  col">
                <div class="d-flex justify-content-center">
                    <i class="fa fa-quote-right fa-5x quote-icon" aria-hidden="true"></i>
                </div>

                <div class="card-thumbnail d-flex justify-content-center mb-3">
                    <img class="image--cover" src="images/pg.png"
                        alt=""> </div>

                <div class="card-para">
                    <p class="card-text text-center">"I meet a lot of people who are genuinely interested in saving water and play an active part in the community to save our valuable resources. This makes our team motivated to develop a product like Sponge"</p>
                </div>
                <p class="text-center testionial mt-3"><i class="fa fa-user-o " aria-hidden="true"></i> Peng Guo,
                    Data Analyst
                </p>
            </div>




            <div class="card-inner p-4  col">
                <div class="d-flex justify-content-center">
                    <i class="fa fa-quote-right fa-5x quote-icon" aria-hidden="true"></i>
                </div>

                <div class="card-thumbnail d-flex justify-content-center mb-3">
                    <img class="image--cover" src="images/ky.png"
                        alt=""> </div>

                <div class="card-para">
                    <p class="card-text text-center">"A water calculator could be a simple function but yet very powerful if someone is looking to track or reduce their indoor or outdoor water usage. Sponge is going to help you to save your water"</p>
                </div>
                <p class="text-center testionial mt-3"><i class="fa fa-user-o " aria-hidden="true"></i> Kaiyang Xue,
                    Network engineer
                </p>
            </div>



        </div>
    </div>

</section>




<%- include("partials/footer"); -%>