<%- include("partials/header"); -%>

<script>
window.onload = function() {
  if(!window.location.hash) {
      window.location = window.location + '#loaded';
      window.location.reload();
  }
}
</script>



<body>
    


<!-- Manual Section -->
<div class="how-it-work" style="background-image: url(images/ocean.jpg); box-sizing: border-box;">
    <!-- <h1 class="mb-1" style="color: antiquewhite; font-size: 4rem;">Get your water usage analysis in three steps!</h1> -->
    <h1 style="padding: 3rem 0rem 7rem 0rem; color: antiquewhite;">Get your water usage analysis in three steps!</h1>
    <div class="row" style="margin: 2rem;">
        <div class="manual-card col-lg-4 col-md-12 col-sm-12">
            <img class="card-img-top" src="images/manual1.png" style="border-radius: 5%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-text" style="color: antiquewhite;">Step 1</h1>
                <h3 class="card-text" style="color: antiquewhite;">Fill the Survey</h3>
            </div>
        </div>
        <div class="manual-card col-lg-4 col-md-12 col-sm-12">
            <img class="card-img-top" src="images/manual2.png" style="border-radius: 5%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-text" style="color: antiquewhite;">Step 2</h1>
                <h3 class="card-text" style="color: antiquewhite;">Check your report card</h3>
            </div>
        </div>
        <div class="manual-card col-lg-4 col-md-12 col-sm-12">
            <img class="card-img-top" src="images/manual3.png" style="border-radius: 5%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-text" style="color: antiquewhite;">Step 3</h1>
                <h3 class="card-text" style="color: antiquewhite;">View tips and suggestions</h3>
            </div>
        </div>

    </div>

    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#quiz-markpoint" style="margin-top: 2rem; background-color: #8cba51; color: antiquewhite; position: relative; bottom: 2rem;" id="quiz-initialize">Start Survey</a>
    
    <!-- <script>

        $(document).ready(function() {
        $(document).on('click','#quiz-initialize',function(e){


            // $("#quiz-markpoint").css({"display": "block"});
            // $("li").css({"display": "list-item"});



            // $(window).scrollTop($('#quiz-markpoint').offset().top);
        });
        });
            
    </script> -->

</div>


<!-- Quiz -->
<div class="container quiz-section" id="quiz-markpoint">

    <!-- progressbar -->
    <ul id="progressbar" id="quiz-001">
        <li class="active">Shower & Bath</li>
        <li>Toilet</li>
        <li>Kitchen</li>
        <li>Laundry</li>
        <li>Outdoor</li>
    </ul>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player class="text-center" style="width: 200px; height: 100px; margin-left: 40%; margin-right: 40%;" src="https://assets3.lottiefiles.com/packages/lf20_B5Myck.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    <div class="quiz-container row">

        <div id="quiz"></div>

    </div>

    <button class="btn btn-primary" id="previous" style="display: inline-block;position: relative;top: 24px;">Previous
        Question</button>
    <button class="btn btn-primary" id="next" style="display: inline-block;position: relative;top: 24px;">Next
        Question</button>
    <button class="btn btn-primary" id="submit" style="display: inline-block;position: relative;top: 24px;">Submit</button>

    <script>

        $(document).ready(function() {
        $(document).on('click','#submit',function(e){
            $(".report-card").css({"display": "block"});
            $("#chartdiv").css({"display": "block"});
            $(window).scrollTop($('.report-card').offset().top);
            
        });
        });
            
    </script>

<!-- <script>
    $("#next").on("click", function() {
      $(this).addClass("shake");
      
      var delay = setTimeout(function(){
        $(".shake").removeClass("shake");
      }, 3000)
    });
    
    </script> -->



</div>


<div class="container report-card" style="display: none;">
<h1 class="text-center" style="padding: 5rem 0rem 3rem;">Report Card</h1>
<h3 style="text-align: center;">The result section will display the following:</h3>
<ul style="list-style-type: none; text-align: center;">
    <li>Total water usage comparison</li>
    <li>Water usage break up</li>
    <li>Performance indicator</li>
    <li>Activity-wise comparison</li>
</ul>

<!-- Two water tank for comparison  -->
<!-- water tank left -->
<div class="container" id="tanky" style="margin-bottom: 2rem;">

    <div class="row">
 
        <div class="col-lg-6 col-md-12 col-sm-12">

            <div class="water-tanks">
                <!-- <h1 id="tank-subtitle text-center">Test</h1> -->
                <div class="water-tank" id="water-tank-left">
                    <h5 class="water-tank-subtitle">Your Usage</h5>
                    <div class="liquid">
                        <svg class="water" viewBox="0 0 200 100">
                            <defs>
                                <linearGradient id="waterGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="0" style="stop-color:#29ABE2" />
                                    <stop offset="0.1643" style="stop-color:#28A6E3" />
                                    <stop offset="0.3574" style="stop-color:#2496E6" />
                                    <stop offset="0.5431" style="stop-color:#1E7DEA" />
                                    <stop offset="0.7168" style="stop-color:#1559F0" />
                                    <stop offset="0.874" style="stop-color:#0B2CF7" />
                                    <stop offset="1" style="stop-color:#0000FF" />
                                </linearGradient>
                            </defs>
                            <path fill="url(#waterGradient)" d="
              M 0,0 v 100 h 200 v -100 
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
            " />
                        </svg>
                    </div>

                    <div class="indicator" data-value="75"></div>
                    <div class="indicator" data-value="50"></div>
                    <div class="indicator" data-value="25"></div>

                </div>

                <!-- water tank right -->
                <div class="water-tank" id="water-tank-right">
                    <h5 class="water-tank-subtitle">Average Usage</h5>
                    <div class="liquid">
                        <svg class="water" viewBox="0 0 200 100">
                            <defs>
                                <linearGradient id="waterGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="0" style="stop-color:#29ABE2" />
                                    <stop offset="0.1643" style="stop-color:#28A6E3" />
                                    <stop offset="0.3574" style="stop-color:#2496E6" />
                                    <stop offset="0.5431" style="stop-color:#1E7DEA" />
                                    <stop offset="0.7168" style="stop-color:#1559F0" />
                                    <stop offset="0.874" style="stop-color:#0B2CF7" />
                                    <stop offset="1" style="stop-color:#0000FF" />
                                </linearGradient>
                            </defs>
                            <path fill="url(#waterGradient)" d="
              M 0,0 v 100 h 200 v -100 
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
            " />
                        </svg>
                    </div>

                    <div class="indicator" data-value="75"></div>
                    <div class="indicator" data-value="50"></div>
                    <div class="indicator" data-value="25"></div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3 id="water-tank-message"></h3>
            <!-- <p id="water-tank-analysis"></p> -->
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <p id="water-tank-analysis"></p>
        </div>
    </div>
</div> -->


<div class="container" id="pie-and-comparison">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <div id="piediv" style="bottom: 20%;"></div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">

            <div class="container" id="comparison-table" style="margin: 0;">
                <div class="row feature-table">
                    <h1 class="col-sm-12 text-center" style="
    font-size: 2rem;
    padding-top: 2rem; color: #30475e;
">Performance </h1>
                    <div class="col-sm-6 feature-block th1">
                        <i class="far fa-smile" id="thumbs-up"></i>
                        <div id="good-activity">

                        </div>
                    </div>
                    <div class="col-sm-6 feature-block th2">
                        <i class="far fa-frown" id="thumbs-down" style="color: #d53737;"></i>
                        <div id="bad-activity">
                        </div>
                    </div>
                 
                </div>
            </div>

            <!-- 
                <h3 id="pie-message"></h3>
                <p id="pie-analysis"> -->
            <!-- </p> -->
        </div>

        
    </div>
</div>

</div>


<div id="chartdiv" style="display: none;"></div>
<div class="container text-center" id="message-to-educate" style="margin-top: 5rem;">
    <h3 class="text-center">To learn how you can save water in your daily life, kindly click the below link.</h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#truly-tips" style="margin-top: 2rem; background-color: #8cba51; color: antiquewhite; position: relative; bottom: 2rem;" id="quiz-initialize">Check out our tips</a>

</div>


<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


    #tips-section {
        max-width: 80%;
        margin: 100px auto;
        background: #f8f9fa;
        /* padding: 30px; */
        /* box-shadow: 0 3px 5px rgba(0,0,0,0.2); */
    }

    input[name=css-tabs] {
        display: none;
    }

    a {
        color: #F29A77;
    }

    #tabs {
        padding: 0 0 0 50px;
        width: calc(100% + 50px);
        margin-left: -50px;
        background: #0076a8;
        height: 80px;
        border-bottom: 5px solid #EB4E01;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    #tabs::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -100;
        width: 100%;
        left: 0;
        margin-top: 16px;
        height: 80px;
        background: #0076a8;
        border-bottom: 5px solid #EB4E01;
    }

    #tabs::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        height: 80px;
        width: 102px;
        background: #EB4E01;
        transition: transform 400ms;
    }

    #tabs label {
        position: relative;
        z-index: 100;
        display: block;
        float: left;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        width: 100px;
        height: 100%;
        /* border-right: 1px dotted #575654; */
        cursor: pointer;
    }

    #tabs label:first-child {
        border-left: 1px dotted #575654;
    }

    #tabs label::before {
        content: "";
        display: block;
        height: 30px;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        /* filter: invert(40%); */
        margin: 10px auto;
    }

    #tab1::before {
        background-image: url(images/bathroom.png);
    }

    #tab2::before {
        background-image: url(images/toilet.png);
    }

    #tab3::before {
        background-image: url(images/kitchen.png);
    }

    #tab4::before {
        background-image: url(images/clothes.png);
    }

    #tab5::before {
        background-image: url(images/garden.png);
    }

    #radio1:checked~#tabs #tab1::before,
    #radio2:checked~#tabs #tab2::before,
    #radio3:checked~#tabs #tab3::before,
    #radio4:checked~#tabs #tab4::before,
    #radio5:checked~#tabs #tab5::before {
        filter: invert(100%);
    }

    #radio1:checked~#tabs::after {
        transform: translateX(0);
    }

    #radio2:checked~#tabs::after {
        transform: translateX(101px);
    }

    #radio3:checked~#tabs::after {
        transform: translateX(202px);
    }

    #radio4:checked~#tabs::after {
        transform: translateX(303px);
    }

    #radio5:checked~#tabs::after {
        transform: translateX(404px);
    }

    #content {
        position: relative;
        height: 100rem;
    }

    #content::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -50px;
        border-top: 8px solid #000;
        border-right: 10px solid #000;
        border-left: 10px solid transparent;
        border-bottom: 8px solid transparent;
    }

    #content section {
        position: absolute;
        transform: translateY(50px);
        opacity: 0;
        transition: transform 500ms, opacity 500ms;
    }

    #radio1:checked~#content #content1,
    #radio2:checked~#content #content2,
    #radio3:checked~#content #content3,
    #radio4:checked~#content #content4,
    #radio5:checked~#content #content5 {
        transform: translateY(0);
        opacity: 1;
    }
</style>

<div class="container" id="truly-tips">
    <section id="tips-section">

        <input id="radio1" type="radio" name="css-tabs" checked>
        <input id="radio2" type="radio" name="css-tabs">
        <input id="radio3" type="radio" name="css-tabs">
        <input id="radio4" type="radio" name="css-tabs">
        <input id="radio5" type="radio" name="css-tabs">
        <div id="tabs">
            <label id="tab1" for="radio1">Shower</label>
            <label id="tab2" for="radio2">Toilet</label>
            <label id="tab3" for="radio3">Kitchen</label>
            <label id="tab4" for="radio4">Laundry</label>
            <label id="tab5" for="radio5">Outdoor</label>
        </div>
        <div id="content">
            <section id="content1">
                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h1 class="mb-1">Save Water While Bathing</h1>
                        <p>When taking a bath, just fill the tub halfway to keep water from spilling over. First
                            plug the
                            drain and set the temperature as it fills the tank.</p>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/bathing.jpg" alt="" class="tips-image">

                    </div>

                </div>

                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h1 class="mb-1">Place a bucket in the shower</h1>
                        <p>When waiting for the water to warm up, place a bucket in the tub and use the water you
                            catch for
                            watering plants, splashing the toilet or washing.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/bucket-in-shower.jpg" alt="" class="tips-image">

                    </div>

                </div>


                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h1 class="mb-1">Reduce your shower time</h1>
                        <p>When you’re losing track of time, carry a radio into the bathroom and time yourself with
                            how many
                            songs you play when you’re in.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/showerTime.jpg" alt="" class="tips-image">

                    </div>

                </div>



                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h1 class="mb-1">Re-use Towels</h1>
                        <p>The towel you use to dry after a shower does not need to be laundered after each use, so
                            hang it
                            up and re-use it instead.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/towel.jpg" alt="" class="tips-image">

                    </div>

                </div>


                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">


                        <h1 class="mb-1">Install a low-flow showerhead</h1>
                        <p>It may cost you a bit of money up front but your efforts to save water will save you
                            money down
                            the road.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/showerhead.png" alt="" class="tips-image">

                    </div>
                </div>


            </section>
            <section id="content2">
                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h1 class="mb-1">Check your toilets and faucets for leaks</h1>
                        <p>If you have a small leak in your toilet or a faucet, you could be losing hundreds of
                            gallons of water per day.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/leak.jpg" alt="" class="tips-image">

                    </div>

                </div>

                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h1 class="mb-1">Get a low-flow toilet</h1>


                        <p>Flushing is the biggest water hog in the house. Older, conventional toilets can use 20 to
                            28 litres per flush, but low-flow models use as little as 7 litres.
                        </p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/low-flow-toilet.jpg" alt="" class="tips-image">

                    </div>


                </div>


                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h1 class="mb-1">Dual flush toilets</h1>

                        <p>A dual flush toilet drives lower water usage in your home, thereby saving money on your
                            monthly water bill while being environment friendly.</p>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/dual-flush.jpg" alt="" class="tips-image">

                    </div>

                </div>



                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h1 class="mb-1">Put a filled plastic bottle inside the tank</h1>

                        <p>It will help reduce the amount of water used per flush (if you can’t replace your higher
                            volume toilet).</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/showerhead.png" alt="" class="tips-image">

                    </div>


                </div>


            </section>

            <section id="content3">
                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h1 class="mb-1">Reuse cooking water</h1>
                        <p>Don’t let the grey water from boiling pasta and veggies go to waste. Instead of dumping it
                            down the drain, why not use it to water your garden?</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/cookingwater.jpeg" alt="" class="tips-image">

                    </div>

                </div>

                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h1 class="mb-1">Capture running water</h1>
                        <p>Instead of letting precious water run down the drain, capture it in a bucket while waiting
                            for the temperature to change.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/runningwater.jpg" alt="" class="tips-image">

                    </div>

                </div>


                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h1 class="mb-1">Use appropriate pot sizes</h1>
                        <p>Unless you really need to, don’t be tempted to use big pots and pans. Large pots tend to
                            require more cooking water than is necessary.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/pot-size.jpg" alt="" class="tips-image">

                    </div>

                </div>



                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h1 class="mb-1">Don’t let your faucets needlessly run</h1>
                        <p>While cooking, refrain from keeping your faucets open which will help you save lots of water.
                        </p>

                    </div>

                    
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/needless-running.jpeg" alt="" class="tips-image">

                    </div>

                </div>

            </section>
            <section id="content4">
                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                    <h1 class="mb-1">Wash your jeans less</h1>
                    <p>Washing them a lot will wear them out more quickly. Consider airing them out or even putting
                        them in the freezer to freshen them up.</p>

                    </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">

                            <img src="images/wash-jeans.jpg" alt="" class="tips-image">

                        </div>

                </div>


                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                    <h1 class="mb-1">Run full loads</h1>
                    <p>Use your machine only when the load is full. This will help you to save loads of water more
                        efficiently.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/full-load.jpg" alt="" class="tips-image">

                    </div>
                    

                </div>

                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                    <h1 class="mb-1">Use front-loading washing machines</h1>
                    <p>They are usually the most water efficient, using up to 50% less water.</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">

                    <img src="images/front-loading.jpg" alt="" class="tips-image">

                </div>

                </div>

            </section>

            <section id="content5">
                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                    <h1 class="mb-1">Use Rain Harvesting or Grey Water</h1>
                    <p>Water collected from these techniques can be used to water your garden.</p>
                
                </div>
                

                <div class="col-lg-6 col-md-6 col-sm-12">

                    <img src="images/watertank.jpg" alt="" class="tips-image">

                </div>


                </div>

                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="mb-1">Build a Rain Garden</h1>
                    <p>Include a rain garden on your property to slow down and help filter pollutants from storm
                        runoff.</p>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/rain-garden.jpg" alt="" class="tips-image">

                    </div>
                </div>

                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="mb-1">Recycle Household Water</h1>
                    <p>Catch and save water from household chores to use in the garden. Keep empty five-gallon
                        buckets on hand to catch water from a dehumidifier.</p>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/recycle-household.jpg" alt="" class="tips-image">

                    </div>

                </div>

                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                    <h1 class="mb-1">Use a bucket of water instead of an open hose</h1>
                    <p>Using a bucket and a wet sponge or rag to rinse your vehicle will help you save water. Fill
                        your buckets with three gallons or less of water.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/bucket-car.jpg" alt="" class="tips-image">

                    </div>

                </div>


                <div class="row tips">
                    <div class="col-lg-6 col-md-6 col-sm-12">


                    <h1 class="mb-1">Group Plants by Water Needs</h1>
                    <p>TKeep lower water use plants like shrubs and drought tolerant perennials in a separate area.
                        Install an irrigation system controller that supports zone watering to enjoy
                        state-of-the-art water savings.</p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="images/plants.jpg" alt="" class="tips-image">

                    </div>

                </div>
            </section>
        </div>
    </section>

</div>

<!-- Pass data through EJS -->
<span id='variableJSON' hidden>
    <%= calculatorContent; %>
</span>


<!-- Calcualtor custom script -->
<script src="js/calculator.js"></script>




<%- include("partials/footer"); -%>