<%- include("partials/header"); -%>



  <!-- Quiz -->
  <section class="quiz-section">
    <div class="quiz-container">
      <div id="quiz"></div>
    </div>
    <button id="previous">Previous Question</button>
    <button id="next">Next Question</button>
    <button id="submit">Submit Quiz</button>
    <div id="results"></div>
    
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
  </section>

<%- include("partials/footer"); -%>