<%- include("partials/header"); -%>

<script>
window.onload = function() {
  if(!window.location.hash) {
      window.location = window.location + '#loaded';
      window.location.reload();
  }
}
</script>



<body>
    


<!-- Manual Section -->
<div class="how-it-work" style="background-image: url(images/ocean.jpg); box-sizing: border-box;">
    <!-- <h1 class="mb-1" style="color: antiquewhite; font-size: 4rem;">Get your water usage analysis in three steps!</h1> -->
    <h1 style="padding: 3rem 0rem 7rem 0rem; color: antiquewhite;">Get your water usage analysis in three steps!</h1>
    <div class="row" style="margin: 2rem;">
        <div class="manual-card col-lg-4 col-md-12 col-sm-12">
            <img class="card-img-top" src="images/manual1.png" style="border-radius: 5%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-text" style="color: antiquewhite;">Step 1</h1>
                <h3 class="card-text" style="color: antiquewhite;">Fill the Survey</h3>
            </div>
        </div>
        <div class="manual-card col-lg-4 col-md-12 col-sm-12">
            <img class="card-img-top" src="images/manual2.png" style="border-radius: 5%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-text" style="color: antiquewhite;">Step 2</h1>
                <h3 class="card-text" style="color: antiquewhite;">Check your report card</h3>
            </div>
        </div>
        <div class="manual-card col-lg-4 col-md-12 col-sm-12">
            <img class="card-img-top" src="images/manual3.png" style="border-radius: 5%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-text" style="color: antiquewhite;">Step 3</h1>
                <h3 class="card-text" style="color: antiquewhite;">View tips and suggestions</h3>
            </div>
        </div>

    </div>

    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#quiz-markpoint" style="margin-top: 2rem; background-color: #8cba51; color: antiquewhite; position: relative; bottom: 2rem;" id="quiz-initialize">Start Survey</a>
    
    <!-- <script>

        $(document).ready(function() {
        $(document).on('click','#quiz-initialize',function(e){


            // $("#quiz-markpoint").css({"display": "block"});
            // $("li").css({"display": "list-item"});



            // $(window).scrollTop($('#quiz-markpoint').offset().top);
        });
        });
            
    </script> -->

</div>


<!-- Quiz -->
<div class="container quiz-section" id="quiz-markpoint">

    <!-- progressbar -->
    <ul id="progressbar" id="quiz-001">
        <li class="active">Shower & Bath</li>
        <li>Toilet</li>
        <li>Kitchen</li>
        <li>Laundry</li>
        <li>Outdoor</li>
    </ul>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player class="text-center" style="width: 200px; height: 100px; margin-left: 40%; margin-right: 40%;" src="https://assets3.lottiefiles.com/packages/lf20_B5Myck.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    <div class="quiz-container row">

        <div id="quiz"></div>

    </div>

    <button class="btn btn-primary" id="previous" style="display: inline-block;position: relative;top: 24px;">Previous
        Question</button>
    <button class="btn btn-primary" id="next" style="display: inline-block;position: relative;top: 24px;">Next
        Question</button>
    <button class="btn btn-primary" id="submit" style="display: inline-block;position: relative;top: 24px;">Submit</button>

    <script>

        $(document).ready(function() {
        $(document).on('click','#submit',function(e){
            $(".report-card").css({"display": "block"});
            $("#chartdiv").css({"display": "block"});
            $(window).scrollTop($('.report-card').offset().top);
            
        });
        });
            
    </script>

<!-- <script>
    $("#next").on("click", function() {
      $(this).addClass("shake");
      
      var delay = setTimeout(function(){
        $(".shake").removeClass("shake");
      }, 3000)
    });
    
    </script> -->



</div>


<div class="container report-card" style="display: none;">
<h1 class="text-center" style="padding: 5rem 0rem 3rem;">Report Card</h1>
<h3 style="text-align: center;">The result section will display the following:</h3>
<ul style="list-style-type: none; text-align: center;">
    <li>Total water usage comparison</li>
    <li>Water usage break up</li>
    <li>Performance indicator</li>
    <li>Activity-wise comparison</li>
</ul>

<!-- Two water tank for comparison  -->
<!-- water tank left -->
<div class="container" id="tanky" style="margin-bottom: 2rem;">

    <div class="row">
 
        <div class="col-lg-6 col-md-12 col-sm-12">

            <div class="water-tanks">
                <!-- <h1 id="tank-subtitle text-center">Test</h1> -->
                <div class="water-tank" id="water-tank-left">
                    <h5 class="water-tank-subtitle">Your Usage</h5>
                    <div class="liquid">
                        <svg class="water" viewBox="0 0 200 100">
                            <defs>
                                <linearGradient id="waterGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="0" style="stop-color:#29ABE2" />
                                    <stop offset="0.1643" style="stop-color:#28A6E3" />
                                    <stop offset="0.3574" style="stop-color:#2496E6" />
                                    <stop offset="0.5431" style="stop-color:#1E7DEA" />
                                    <stop offset="0.7168" style="stop-color:#1559F0" />
                                    <stop offset="0.874" style="stop-color:#0B2CF7" />
                                    <stop offset="1" style="stop-color:#0000FF" />
                                </linearGradient>
                            </defs>
                            <path fill="url(#waterGradient)" d="
              M 0,0 v 100 h 200 v -100 
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
            " />
                        </svg>
                    </div>

                    <div class="indicator" data-value="75"></div>
                    <div class="indicator" data-value="50"></div>
                    <div class="indicator" data-value="25"></div>

                </div>

                <!-- water tank right -->
                <div class="water-tank" id="water-tank-right">
                    <h5 class="water-tank-subtitle">Average Usage</h5>
                    <div class="liquid">
                        <svg class="water" viewBox="0 0 200 100">
                            <defs>
                                <linearGradient id="waterGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="0" style="stop-color:#29ABE2" />
                                    <stop offset="0.1643" style="stop-color:#28A6E3" />
                                    <stop offset="0.3574" style="stop-color:#2496E6" />
                                    <stop offset="0.5431" style="stop-color:#1E7DEA" />
                                    <stop offset="0.7168" style="stop-color:#1559F0" />
                                    <stop offset="0.874" style="stop-color:#0B2CF7" />
                                    <stop offset="1" style="stop-color:#0000FF" />
                                </linearGradient>
                            </defs>
                            <path fill="url(#waterGradient)" d="
              M 0,0 v 100 h 200 v -100 
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
            " />
                        </svg>
                    </div>

                    <div class="indicator" data-value="75"></div>
                    <div class="indicator" data-value="50"></div>
                    <div class="indicator" data-value="25"></div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3 id="water-tank-message"></h3>
            <!-- <p id="water-tank-analysis"></p> -->
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <p id="water-tank-analysis"></p>
        </div>
    </div>
</div> -->


<div class="container" id="pie-and-comparison">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <div id="piediv" style="bottom: 20%;"></div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">

            <div class="container" id="comparison-table" style="margin: 0;">
                <div class="row feature-table">
                    <h1 class="col-sm-12 text-center" style="
    font-size: 2rem;
    padding-top: 2rem; color: #30475e;
">Performance </h1>
                    <div class="col-sm-6 feature-block th1">
                        <i class="far fa-smile" id="thumbs-up"></i>
                        <div id="good-activity">

                        </div>
                    </div>
                    <div class="col-sm-6 feature-block th2">
                        <i class="far fa-frown" id="thumbs-down" style="color: #d53737;"></i>
                        <div id="bad-activity">
                        </div>
                    </div>
                 
                </div>
            </div>

            <!-- 
                <h3 id="pie-message"></h3>
                <p id="pie-analysis"> -->
            <!-- </p> -->
        </div>

        
    </div>
</div>

</div>


<div id="chartdiv" style="display: none;"></div>
<div class="container text-center" id="message-to-educate" style="margin-top: 5rem;">
    <h3 class="text-center">To learn how you can save water in your daily life, kindly click the below link.</h3>
    <a class="btn btn-primary btn-xl" href="/educate" style="background-color: #8cba51;">Check out our tips</a>
</div>

<!-- <div class="container" id="detail-table">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Indoor</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Outdoor</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Activity</th>
                                <th>Consumption</th>
                                <th>Tips</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Shower & Bath</a></td>
                                <td id="shower-consumption">0</td>

                                <td> <a href="/about" style="color: cadetblue;"><i
                                            class="fas fa-external-link-alt"></i></a> </td>
                            </tr>
                            <tr>
                                <td><a href="#">Toilet</a></td>
                                <td id="toilet-consumption">0</td>

                                <td> <a href="/about" style="color: cadetblue;"><i
                                            class="fas fa-external-link-alt"></i></a> </td>
                            </tr>
                            <tr>
                                <td><a href="#">Kitchen</a></td>
                                <td id="kitchen-consumption">0</td>

                                <td> <a href="/about" style="color: cadetblue;"><i
                                            class="fas fa-external-link-alt"></i></a> </td>
                            </tr>
                            <tr>
                                <td><a href="#">Laundry</a></td>
                                <td id="laundry-consumption">0</td>

                                <td> <a href="/about" style="color: cadetblue;"><i
                                            class="fas fa-external-link-alt"></i></a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Acticity</th>
                                <th>Consumption</th>

                                <td> <a href="/about" style="color: cadetblue;"><i
                                            class="fas fa-external-link-alt"></i></a> </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Gardening</a></td>
                                <td id="gardening-consumption">0</td>

                                <td> <a href="/about" style="color: cadetblue;"><i
                                            class="fas fa-external-link-alt"></i></a> </td>
                            </tr>
                            <tr>
                                <td><a href="#">Car washing</a></td>
                                <td id="car-consumption">0</td>

                                <td> <a href="/about" style="color: cadetblue;"><i
                                            class="fas fa-external-link-alt"></i></a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Pass data through EJS -->
<span id='variableJSON' hidden>
    <%= calculatorContent; %>
</span>


<!-- Calcualtor custom script -->
<script src="js/calculator.js"></script>




<%- include("partials/footer"); -%>