<%- include("partials/header"); -%>



<!-- Quiz -->
<section class="quiz-section">

    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Shower & Bath</li>
        <li>Toilet</li>
        <li>Kitchen</li>
        <li>Laundry</li>
        <li>Outdoor</li>
    </ul>

    <div class="quiz-container">

        <div id="quiz"></div>

    </div>

    <button class="btn btn-primary" id="previous">Previous Question</button>
    <button class="btn btn-primary" id="next">Next Question</button>
    <button class="btn btn-primary" id="submit">Submit Quiz</button>



</section>



<section class="visualize-section">
    <div id="results"></div>
    <div class="left-half text-center">
        <div id="chartContainer-pie" style="height: 370px; width: 100%;">
            <h1>Visualize</h1>
        </div>
    </div>
    <div class="water-tank">
        <div class="liquid">
          <svg class="water" viewBox="0 0 200 100">
            <defs>
              <linearGradient id="waterGradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0" style="stop-color:#29ABE2"/>
              <stop offset="0.1643" style="stop-color:#28A6E3"/>
              <stop offset="0.3574" style="stop-color:#2496E6"/>
              <stop offset="0.5431" style="stop-color:#1E7DEA"/>
              <stop offset="0.7168" style="stop-color:#1559F0"/>
              <stop offset="0.874" style="stop-color:#0B2CF7"/>
              <stop offset="1" style="stop-color:#0000FF"/>
              </linearGradient>
            </defs>
            <path fill="url(#waterGradient)" d="
              M 0,0 v 100 h 200 v -100 
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
              c -10,0 -15,5 -25,5 c -10,0 -15,-5 -25,-5
            "/>
          </svg>
        </div>
        
        <div class="indicator" data-value="75"></div> 
        <div class="indicator" data-value="50"></div> 
        <div class="indicator" data-value="25"></div> 
        
        <div class="label">58%</div> 
      </div> 
    </div>
</section>

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">Indoor</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">Outdoor</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Activity</th>
                                    <th>Consumption</th>
                                    <th>Comparison</th>
                                    <th>Tips</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Shower & Bath</a></td>
                                    <td id="shower-consumption">0</td>
                                    <td><i class="fas fa-arrow-alt-circle-up"></i><i
                                            class="fas fa-arrow-alt-circle-up"></i></td>
                                    <td> <a href="/about" style="color: cadetblue;"><i
                                                class="fas fa-external-link-alt"></i></a> </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Toilet</a></td>
                                    <td id="toilet-consumption">0</td>
                                    <td></td>
                                    <td> <a href="/about" style="color: cadetblue;"><i
                                                class="fas fa-external-link-alt"></i></a> </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Kitchen</a></td>
                                    <td id="kitchen-consumption">0</td>
                                    <td></td>
                                    <td> <a href="/about" style="color: cadetblue;"><i
                                                class="fas fa-external-link-alt"></i></a> </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Laundry</a></td>
                                    <td id="laundry-consumption">0</td>
                                    <td></td>
                                    <td> <a href="/about" style="color: cadetblue;"><i
                                                class="fas fa-external-link-alt"></i></a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Acticity</th>
                                    <th>Consumption</th>
                                    <th>Comparison</th>
                                    <td> <a href="/about" style="color: cadetblue;"><i
                                                class="fas fa-external-link-alt"></i></a> </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Gardening</a></td>
                                    <td id="gardening-consumption">0</td>
                                    <td></td>
                                    <td> <a href="/about" style="color: cadetblue;"><i
                                                class="fas fa-external-link-alt"></i></a> </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Car washing</a></td>
                                    <td id="car-consumption">0</td>
                                    <td></td>
                                    <td> <a href="/about" style="color: cadetblue;"><i
                                                class="fas fa-external-link-alt"></i></a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Calcualtor custom script -->
<script src="js/calculator.js"></script>

<%- include("partials/footer"); -%>