<%- include("partials/header"); -%>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Quiz slides -->
    <section class="quiz-section">
        <div class="text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p>What's your name</p>
                    <input type="radio" name="answer" value="0" id="ans0">Yue</input>
                    <input type="radio" name="answer" value="0" id="ans0">Wang</input>
                    <input type="radio" name="answer" value="0" id="ans0">Wombat</input>
                  </div>
                  <div class="carousel-item">
                    <input type="radio" name="answer" value="0" id="ans0">Yue</input>
                    <input type="radio" name="answer" value="0" id="ans0">Wang</input>
                    <input type="radio" name="answer" value="0" id="ans0">Wombat</input>
                  </div>
                  <div class="carousel-item">
                    <p>What's your gender</p>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          </div>
        </div>
      </section>
       





</body>


<%- include("partials/footer"); -%>