<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body style="background-image: url(images/ocean.jpg)">
    

	<div>

        <div class="container" style="text-align: center; margin-top: 20%; font-family: sans-serif; ">
            <h1 style="font-size: 6rem; color: antiquewhite;">Oops!</h1>
				<h2 style="font-size: 3rem; color: antiquewhite;">Wrong password, please try again.</h2>
                <a class="btn btn-primary" href="/login" role="button" style="margin-top: 5rem;">Go Back</a>
        </div>

	</div>

</body>