<%- include("partials/header"); -%>


<header class="masthead d-flex" id="header">
  <div class="container text-center my-auto">
    <h1 class="mb-1" style="color: antiquewhite;">STOP BEING A WATER HOG</h1>
    <h3 class="mb-5">
      <em>We do things</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#calculator-intro">Find Out More</a>
  </div>
  <div class="overlay"></div>
</header>

<!-- Calculator introduction -->
<section class="content-section bg-light">

  <div class="container text-center">
    <h1>Water Calculator</h1>
    <h3>Compare | Tips | Analytics</h2>
      <button onclick="location.href = '/calculator'" type="button" class="btn btn-outline-primary">Find out more</button>
  </div>

 
</section>

<section class="content-section bg-light">

  <div class="container text-center">
    <h1>RainHouse</h1>
    <h3>Compare | Tips | Analytics</h2>
      <button onclick="location.href = '/calculator'" type="button" class="btn btn-light">Find out more</button>

  </div>


</section>



<%- include("partials/footer"); -%>