<%- include("partials/header"); -%>


<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1, slogan">We are</h1>
    <h1 class="mb-1, slogan">VVWATER</h1>
    <h3 class="mb-5">
      <em>We do things</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#calculator-intro">Find Out More</a>
  </div>
  <div class="overlay"></div>
</header>

<!-- About -->
<section class="content-section bg-light" id="calculator-intro">
  <div class="container text-center">
    <div class="left-half">
      <h1>Image</h1>
    </div>
    <div class="right-half">
      <h2>Usage Calculator</h2>
      <p class="lead mb-5">Wanna know how much water you are using? blah blah blah</a>!</p>
        <button onclick="location.href = '/calculator'" type="button" class="btn btn-light">Calculate Now!</button> 
    </div>
  </div>
</section>

<section class="content-section bg-light" id="calculator-intro">
  <div class="container text-center">
    <div class="left-half">
      <h2>Rainfall prediction</h2>
      <p class="lead mb-5">Comming Soon...</a>!</p>
    </div>
    <div class="right-half">
      <h1>Image</h1>
    </div>
  </div>
</section>



<%- include("partials/footer"); -%>