<%- include("partials/header"); -%>

<!-- amCharts -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


<header class="masthead d-flex" id="header">
  <div class="container text-center my-auto">
    <h1 class="mb-1" style="color: #325592; font-size: 6rem; font-weight: 800">Are you using water Wisely?</h1>
    <br>
    <h1 class="mb-1" style="color: #325592; font-size: 2rem; font-weight: 400;">Calculate your water usage with Sponge</h1>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/calculator" style="color:antiquewhite; margin: 3rem;">Try Now</a>
  </div>
  <div class="overlay"></div>
</header>





<div class="home-population" style="box-sizing: border-box;" id="pop-vis">
	<div class="container text-center my-auto">
		<h1 class="mb-1" style="color: #325592; font-size: 3rem; font-weight: 400;">Melbourne is running out of Water</h1>
		<div id="storage-visualization" style="width: 100%; height: 500px;"></div>
		<h1 class="mb-1" style="color: #162447; font-size: 1.5rem;">Australians are one of the top water consumers
			in the world. While the individual water demand stays high, Victoria is also witnessing rapid population growth. According to Melbourne Water, the city
			won’t be having enough water by 2028 if the demand keeps growing.</h1>
		<!-- <a class="btn btn-primary btn-xl js-scroll-trigger" style="padding: 10px; background-color: #8cba51; color: antiquewhite;" href="#tips-section">How you can
			Help!</a> -->
	</div>
</div>
<br>

<hr class="style14">

<body>

  <section id="service-section">
    <h1 class="mb-1" style="color: #325592; font-size: 3rem; font-weight: 400;">What we offer</h1>

    <!-- <p class="section-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.</p> -->
    <div class="services-grid">
      <div class="service service1">
        <i class="fas fa-calculator"></i>
        <h4>Assess</h4>
        <p>We help to calculate water usage and estimated rainwater catchment.</p>
      </div>

      <div class="service service2">
        <i class="fas fa-chart-bar"></i>
        <h4>Analysis</h4>
        <p>We help you to understand your results through analysis.</p>
      </div>

      <div class="service service3">
        <i class="fas fa-home"></i>
        <h4>Educate</h4>
        <p>We provide unique tips and solutions for water saving and rain harvesting.</p>
      </div>
    </div>
  </section>




<script src="js/home.js"></script>

  <%- include("partials/footer"); -%>