<%- include("partials/header"); -%>


<header class="masthead d-flex" id="header">
  <div class="container text-center my-auto">
    <h1 class="mb-1" style="color: antiquewhite; font-size: 4rem;">STOP BEING A WATER HOG</h1>
    <h3 class="mb-5" style="color: antiquewhite; font-size: 2rem;">
      <em>UNKNOWINGLY</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#calculator-intro">Find Out More</a>
  </div>
  <div class="overlay"></div>
</header>


<section class="content-section bg-light">
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2 style="
    padding: 2rem 0rem 5rem;
">What we offer</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class="fas fa-chart-pie service-icon" style="size: 3rem;"></i>
      <h4>Analysis</h4>
      <p>We help people to figure out their activity-based water consumption</p>
    </div>
    <div class="col-sm-4">
      <i class="fas fa-info service-icon"></i>
      <h4>Educate</h4>
      <p>We give poeple personzlied tips on water-saving techniques</p>
    </div>
    <div class="col-sm-4">
      <i class="fas fa-cloud-rain service-icon"></i>
      <h4>Prediction</h4>
      <p>We introduce rain-harvesting solutions and shit</p>
    </div>
  </div>

</div>



</section>


<!-- Calculator introduction -->
<section class="content-section bg-light" id="calculator-intro" style="padding-top: 14rem; height: 30rem;" >

  <div class="container text-center" >
    <div class="container text-center">
      <h1>Calculator</h1>
      <h3>Compare | Tips | Analytics</h2>
        <button onclick="location.href = '/calculator'" type="button" class="btn btn-outline-primary">Find out more</button>
    </div>
  </div>

 
</section>


<!-- Carousel -->
<div id="rain-slide" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#rain-slide" data-slide-to="0" class="active"></li>
    <li data-target="#rain-slide" data-slide-to="1"></li>
    <li data-target="#rain-slide" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/garden.png" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="images/garden.png" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="images/garden.png" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#rain-slide" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#rain-slide" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<!-- Carousel wrapper -->

<section class="content-section bg-light">

  <div class="container text-center">
    <h1>RainHouse</h1>
    <h3>Compare | Tips | Analytics</h2>
      <button onclick="location.href = '/calculator'" type="button" class="btn btn-light">Find out more</button>

  </div>


</section>

<!-- Carousel -->
<div id="cal-slide" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#cal-slide" data-slide-to="0" class="active"></li>
    <li data-target="#cal-slide" data-slide-to="1"></li>
    <li data-target="#cal-slide" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/garden.png" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="images/garden.png" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="images/garden.png" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#cal-slide" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#cal-slide" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<!-- Carousel wrapper -->

<!-- <script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script> -->



<%- include("partials/footer"); -%>