<%- include("partials/header"); -%>


<header class="masthead d-flex" id="header">
  <div class="container text-center my-auto">
    <h1 class="mb-1" style="color: antiquewhite; font-size: 4rem;">STOP BEING A WATER HOG.</h1>
    <h3 class="mb-1" style="color: antiquewhite; font-size: 4rem;">
      UNKNOWINGLY.
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#service-section">Learn More</a>
  </div>
  <div class="overlay"></div>
</header>

<body id="page-top">

  <section id="service-section">
    <h2>What we offer</h2>
    <!-- <p class="section-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.</p> -->
    <div class="services-grid">
      <div class="service service1">
        <i class="fas fa-calculator"></i>
        <h4>Assess</h4>
        <p>We help you calculate your household water usage.</p>
      </div>

      <div class="service service2">
        <i class="fas fa-chart-bar"></i>
        <h4>Analysis</h4>
        <p>We help you to understand your result through analysis.</p>
      </div>

      <div class="service service3">
        <i class="fas fa-home"></i>
        <h4>Educate</h4>
        <p>We provide unique tips which can be used in daily life.</p>
      </div>
    </div>
  </section>


  <!-- Calculator introduction -->


  <div class="container" style="padding: 30px;">
    <div class="row">
      <div class="col-sm-6">

        <img src="images/house.jpg" class="img-fluid z-depth-1-half" alt="" id="house-img">
      </div> <!-- /col-sm-6 -->
      <div class="col-sm-6 text-center" style="padding-top: 10rem;">
        <h2 class="text-center">Calculator</h2>
        <h3 class="text-center">Compare | Tips | Analytics</h3>
        <p class="text-center">We can save our precious resource together-it's the little things we do in our
          houses that will make a big difference Our water use calculator measures your monthly water consumption based
          on your responses to the short survey filled.</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/calculator">Calculate Now</a>


      </div> <!-- /col-sm-6 -->
    </div> <!-- /row -->
  </div> <!-- /container -->


  <div class="container" style="padding: 30px;">
    <div class="row">

      <div class="col-sm-6" style="padding-top: 10rem;">
        <h2 class="text-center">RainHouse</h2>
        <h3 class="text-center">Coming soon</h3>
      </div> <!-- /col-sm-6 -->

      <div class="col-sm-6">

        <img src="images/rain.jpg" class="img-fluid z-depth-1-half" alt="" id="house-img">
      </div> <!-- /col-sm-6 -->

    </div> <!-- /row -->
  </div> <!-- /container -->

  <div class="container" style="padding: 30px;">
    <div class="row">
      <div class="col-sm-6 text-center about-us">

        <h2>About Us</h2>
        <h3 class="about-brand">Sponge</h3>
        <p>Our vision is to bring an efficient water usage calculator and rain harvesting solution to all victorians, so that they can save water while contributing to the community.</p>
        
        
      </div> <!-- /col-sm-6 -->
      <div class="col-sm-6 text-center">
        <h3 class="text-center">Educate</h3>
        <img src="images/lightbulb.jpg" class="img-fluid z-depth-1-half" alt="" id="house-img">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/educate">Learn more</a>


      </div> <!-- /col-sm-6 -->
    </div> <!-- /row -->
  </div> <!-- /container -->








  <!-- <script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script> -->



  <%- include("partials/footer"); -%>