<%- include("partials/header"); -%>


<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">We are RainHouse</h1>
    <h3 class="mb-5">
      <em>We help people do shit</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
  </div>
  <div class="overlay"></div>
</header>

<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>Some description or background stuff</h2>
        <p class="lead mb-5">we give calcualtor and blah blah blah</a>!</p>
      </div>
    </div>
  </div>
</section>
    



<%- include("partials/footer"); -%>