<!-- <form method="post" action="/">
  <input type="text" name="password">
  <input type="submit" value="Submit">
</form>
 -->
 <body style="background-image: url(images/ocean.jpg)">
  <div class="container" style="text-align: center; margin-top: 20%; font-family: sans-serif; ">
  <form method="post" class="form-signin"> 
    <h2 class="form-signin-heading" style="font-size: 6rem; color: antiquewhite;">Welcome to Sponge</h2>      
    <h2 class="form-signin-heading" style="font-size: 6rem; color: antiquewhite;">Please login</h2>
    <div class="form-group">
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
</body>