<%- include("partials/header"); -%>
<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<body>




    <div class="text-center" style="margin-top: 20%;">
        <iframe width="800" height="600" src="https://www.youtube.com/embed/pcjuXr8vQXA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>

    <div class="row" id="geo-input">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_CEyvj2.json" background="transparent"
                    speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player>
                <select id="user-suburb" name="suburb" class="form-control">
                    <option value="Caulfield">Caulfield</option>
                    <option value="Oakleigh">Oakleigh</option>

                </select>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">

                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_Mz7MDP.json" background="transparent"
                    speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player>
                <select id="user-roof" name="suburb" class="form-control">
                    <option value="2">2 Bedrooms</option>
                    <option value="3">3 Bedrooms</option>
                    <option value="4">4 Bedrooms</option>
                    <option value="5">5 Bedrooms</option>
                    <option value="6">6 Bedrooms</option>

                </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="submit" class="btn btn-primary" id="user-submit">Submit</button>
            </div>

            <!-- <label for="country">Country</label><span style="color: red !important; display: inline; float: none;">*</span>       -->


        <!-- <h1 class="text-center" id="selectedSuburb"><%=suburb%></h1> -->

    </div>

    <!-- Styles -->
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
            padding-top: 5rem;
        }
    </style>

    <div id="chartdiv"></div>



    <!-- Pass data through EJS -->
    <span id='rainfallJSON' hidden>
        <%= rainfallContent; %>
    </span>

    <!-- Rainhouse custom script -->
    <script src="js/rainhouse.js"></script>

    <%- include("partials/footer"); -%>