<%- include("partials/header"); -%>
<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>



<body>

    <!-- Styles -->
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>

    



    <div class="text-center row" style="margin-top: 20%;">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <h1 style="padding-bottom:2rem; font-family: 'Source Sans Pro';">What is rain harvesting?</h1>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">

            <iframe width="500" height="400" src="https://www.youtube.com/embed/pcjuXr8vQXA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">

            <p class="rainhouse-bg">Rainwater is a valuable natural resource that has been collected by Australian households for domestic use since colonial times.

                Opportunities for rainwater collection and use vary with location. Urban households typically have a connection to a reticulated, treated (mains) water supply but can significantly lower mains water usage by installing a rainwater harvesting system.
                
                Most rural households have to source all their water on their property, and rainwater often provides a better quality household supply than river, bore or dam water. <a style="text-align: left;" href="https://www.yourhome.gov.au/water/rainwater">Learn more</a> </p>
            
        </div>

    </div>

    <hr class="style14">

    <div class="text-center row" style="margin-top: 5%;">


        <div class="col-lg-12 col-md-12 col-sm-12">

            <h1 style="padding-bottom:2rem; font-family: 'Source Sans Pro';">Rain Harvesting in Victoria</h1>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">

            <iframe style="width: 500px; height: 400px; border: none;" src="https://map.drought.gov.au/#share=s-vMxp3S47SaRIx2BbqAZt5tUNDLu" allowFullScreen mozAllowFullScreen webkitAllowFullScreen></iframe>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">

            <p class="rainhouse-bg">Rainwater is a valuable natural resource that has been collected by Australian households for domestic use since colonial times.

                Opportunities for rainwater collection and use vary with location. Urban households typically have a connection to a reticulated, treated (mains) water supply but can significantly lower mains water usage by installing a rainwater harvesting system.
                
                Most rural households have to source all their water on their property, and rainwater often provides a better quality household supply than river, bore or dam water. <a style="text-align: left;" href="https://www.yourhome.gov.au/water/rainwater">Learn more</a> </p>

        </div>

    </div>


    <hr class="style14">


    <div class="row" id="geo-input">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_CEyvj2.json" background="transparent"
                speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player>
            <select id="user-suburb" name="suburb" class="form-control">
                <option value="Caulfield">Caulfield</option>
                <option value="Oakleigh">Oakleigh</option>

            </select>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">

            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_Mz7MDP.json" background="transparent"
                speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player>
            <select id="user-roof" name="suburb" class="form-control">
                <option value="100">Apartment & Unit with 1-3 bedrooms</option>
                <option value="80">Townhouse with 2-4 bedroomes</option>
                <option value="160">House with 2-3 bedrooms</option>
                <option value="220">House with over 4 bedrooms</option>

            </select>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-primary" id="user-submit">Submit</button>
        </div>

        <!-- <label for="country">Country</label><span style="color: red !important; display: inline; float: none;">*</span>       -->


        <!-- <h1 class="text-center" id="selectedSuburb"><%=suburb%></h1> -->

    </div>


    <div style="margin-top: 10rem;"> 

        <h1 class="text-center" id="total-message"></h1>

        
        <div class="text-center row">

        

            <div class="col-lg-6 col-md-6 col-sm-12">

                <div id="chartdiv"></div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">

                <p class="rainhouse-bg" id="total-writeup"></p>

            </div>

        </div>
        

    </div>

    <!-- <div class="container">

        <div class="text-center row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">An adult consumes about 1350 litres of water for a year</h1>
                <i class="fas fa-male" style="font-size: 20rem; color: cornflowerblue;"></i>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">With a decent filter, the expect water catchment can feed an Army of XX for an entire year!</h1>

                <div id="pictogram-person">

                   

                </div>
                
                
            </div>

        </div>

    </div> -->


    <!-- <div class="container">

        <div class="text-center row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">An adult consumes about 1350 litres of water for a year</h1>
                <i class="fas fa-male" style="font-size: 20rem; color: cornflowerblue;"></i>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">With a decent filte r, the expect water catchment can feed an Army of XX for an entire year!</h1>

                <div id="pictogram-person">

                   

                </div>
                
                
            </div>

        </div>

    </div> -->




 <!-- Slideshow container -->
 <div class="slideshow-container" style="height: 60%;">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides">
      <div class="numbertext">1 / 3</div>

      <div class="container">

        <div class="text-center row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">An adult consumes about 1350 litres of water for a year</h1>
                <i class="fas fa-male" style="font-size: 20rem; color: cornflowerblue;"></i>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">With a decent filter, the expect water catchment can feed an Army of XX for an entire year!</h1>

                <div id="pictogram-person">

                   

                </div>
                
                
            </div>

        </div>

    </div>


      <div class="text">Caption Text</div>
    </div>
  
    <div class="mySlides">
      <div class="numbertext">2 / 3</div>

      <div class="container">

        <div class="text-center row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">Toilet is the largest water consumer in your house</h1>
                <i class="fas fa-calendar-alt" style="font-size: 20rem; color: cornflowerblue;"></i>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">With a decent filter, the expect water catchment can feed an Army of XX for an entire year!</h1>

                <div id="pictogram-person">

                   

                </div>
                
                
            </div>

        </div>

    </div>


      <div class="text">Caption Two</div>
    </div>
  
    <div class="mySlides">
      <div class="numbertext">3 / 3</div>

      <div class="container">

        <div class="text-center row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">An adult consumes about 1350 litres of water for a year</h1>
                <i class="fas fa-male" style="font-size: 20rem; color: cornflowerblue;"></i>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="text-center">With a decent filter, the expect water catchment can feed an Army of XX for an entire year!</h1>

                <div id="pictogram-person">

                   

                </div>
                
                
            </div>

        </div>

    </div>

      <div class="text">Caption Three</div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div> 

<script>

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
} 
</script>



    <div class="row">
    <div class="col-sm-3">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                <div class="inner">   
                  <img src="images/towel.png">
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center"> 
                  <h3>Writeup</h3>
                  <button type="button" class="btn btn-default">Know More</button>
                </div>
              </div>
            </div>	 
          </div>
        </div>
      <div class="col-sm-3">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                <div class="inner">   
                  <img src="images/towel.png">
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center"> 
                  <h3>Writeup</h3>
                  <button type="button" class="btn btn-default">Know More</button>
                </div>
              </div>
            </div>	 
          </div>
        </div>
      <div class="col-sm-3">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                <div class="inner">   
                  <img src="images/towel.png">
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center"> 
                  <h3>Writeup</h3>
                  <button type="button" class="btn btn-default">Know More</button>
                </div>
              </div>
            </div>	 
          </div>
        </div>
      <div class="col-sm-3">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                <div class="inner">   
                  <img src="images/towel.png">
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center"> 
                  <h3>Writeup</h3>
                  <button type="button" class="btn btn-default">Know More</button>
                </div>
              </div>
            </div>	 
          </div>
        </div>
      </div>



<script>

$('.flip').hover(function(){
        $(this).find('.card').toggleClass('flipped');

 });

</script>


    <!-- Pass data through EJS -->
    <span id='rainfallJSON' hidden>
        <%= rainfallContent; %>
    </span>

    <!-- Rainhouse custom script -->
    <script src="js/rainhouse.js"></script>

    <%- include("partials/footer"); -%>