/* 
 Import Abang font, its used for our logo Sponge 
*/
@font-face {
  font-family: Abang;
  src: url("/fonts/Abang.otf") format("opentype");
}

@font-face {
  font-family: Source Sans Pro;
  src: url("/fonts/SourceSansPro.ttf") format("opentype");
}



/* horizontal rules */
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}



/*
 Testmonial in about page
*/
.testmonial .card-inner {
  background: #dbdbdb;
  border-radius: 15px;
  border: 3px;
  margin: 10px;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testmonial .card-inner .card-thumbnail {
  position:relative;
    display:block;  
}
.testmonial .card-inner .card-thumbnail img {
  width: 100%;
  height: auto;
}
.testmonial .card-inner .card-thumbnail .image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}
.testmonial .card-inner p {
  color:#202040;
}
.testmonial .testionial-name {
text-transform:uppercase;
  font-weight:500;
}
.card-inner .quote-icon {
  color: #202040;
}

.about-educate:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}


/* Tips educate */
.tips {
  padding: 1rem;
}

.tips p {
  font-size: 1.4rem;
}

.tips h1 {
  color:black; 
  font-size: 1.5rem;
}


/*
 About-us page styles
*/

.about-brand {
  color: black;
  font-family: Abang;
  font-size: 4rem;
}


/*
 Calculator manual
*/


.manual-card {
  display: inline-block;
  width: 33%;
}


/* house img */
#house-img{
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.how-it-work {
  text-align: center;
  /* margin: 10rem; */
  padding-top: 5rem;
  /* height: 100%; */
  /* background-color: gainsboro; */
  background: url("/images/ocean.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
}

.home-population {
  text-align: center;
  /* margin: 10rem; */
  padding-top: 5rem;
  /* height: 100%; */
  /* background-color: gainsboro; */
  -webkit-background-size: cover;
}





/*
 Front page service section
*/
#service-section {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

/* h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 1.825rem;
  margin: 1.3rem 0;
} */

.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.service {
  /* background: #fff; */
  margin: 20px;
  padding: 20px;
  /* border-radius: 4px; */
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid #e7e7e7; */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* .service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
} */

.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
  color: #42b7ca;
}

/* .service1:hover {
  border: 2px solid #42b7ca;
} */

.service2 i,
.service2 h4,
.service2 .cta {
  color: #425fca;
}

/* .service2:hover {
  border: 2px solid #425fca;
} */

.service3 i,
.service3 h4,
.service3 .cta {
  color: #9c42ca;
}

/* .service3:hover {
  border: 2px solid #9c42ca;
} */

.service .cta span {
  font-size: 0.6rem;
}

.service > * {
  flex: 1 1 100%;
}

.service .cta {
  align-self: flex-end;
}

@media all and (max-width:900px) {
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
/* wrapper */





/* water tank section */
#water-tank-message {
  padding: 2rem;
  border-radius: 25px;
  background-color: #c2cad9;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#water-tank-analysis {
  position: relative;
}


/* Comparison table, good and back */
#comparison-table{
  margin-top: 10rem;
  border-radius: 25px;
  background-color: #84bdd8;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activity-indicator {
  font-size: 1.5rem;
    font-weight: 300;
    font-family: inherit;
}

.hidden-content {
  height: 0px;
  visibility: hidden;
  transition: all 0.5s ease-out;
}

.active .hidden-content {
  height: 100px;
  visibility: visible;
  transition: all 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Apply background image in header area */
#header {
  background-color: gainsboro;
  background: url("/images/water-bg.png")no-repeat center center fixed;
  -webkit-background-size: cover;
}

body {
  background-color: #F8F9FA;

}



/* Comparison table */
#thumbs-up {
  font-size: 50px;
  color: #4ca362;
}

#thumbs-down {
  font-size: 50px;
  color: #f0a34b;
}

#good-activity {
  padding-top: 40px;
}

#bad-activity {
  padding-top: 40px;
}


.feature-table .feature-block {
  padding: 40px;
  text-align: center;
}

@media(min-width:768px){
  .feature-table {
    display: flex;
  }

  .feature-table .feature-block {
    flex: 1;
  }
}

.feature-table h3 {
  font-size: 24px;
  font-weight: 700;
}



/* Comparison table wrapper */




/* Calculator introduction section at front page*/
.intro-slide {
position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s;

}

.percentage {
  font-family: 'Montserrat', sans-serif;
  color: #007bff;
}

#family-size {
  font-family: 'Montserrat', sans-serif;
  color: #007bff;
}


/* Result Table */
.project-tab {
  padding: 10%;
  margin-top: -8%;
}
.project-tab #tabs{
  background: #007b5e;
  color: #eee;
}
.project-tab #tabs h6.section-title{
  color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #0062cc;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead{
  background: #f3f3f3;
  color: #333;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/* Above are result table */


/* Amcharts */
#chartdiv {
  width: 100%;
  height: 500px;
}
/* Amcharts */

#piediv {
  width: 100%;
  height: 500px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/* Quiz styles */
.question{
  font-size: 30px;
  margin-bottom: 10px;
}


.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: inline-block;
  margin-bottom: 10px;
}

.manual-section {
  margin: 30rem 0rem 0rem 15rem
}

#start-button {
  text-align: center;
}

.quiz-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  text-align: center;
}

.tip {
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
}


/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
  color: #222831;
	text-transform: uppercase;
	font-size: 15px;
	width: 20%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #4da2fd;
	color: white;
}



button:hover{
	background-color: #38a;
}


/* Arrow button */
.btn-arrow-right, .btn-arrow-left {
  position: relative;
}

.btn-arrow-right:before,
.btn-arrow-left:before{
  content: '';
  position: absolute;
  top: 5px;
  width: 22px;
  height: 22px;
  background: inherit;
  border: inherit;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0px 4px 0px 20px;
}

.btn-arrow-right:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  right: -11px;
}

.btn-arrow-left:before {
  transform: rotate(225deg); 
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  left: -11px;
}

/* Result Table */
.project-tab {
  padding: 10%;
  margin-top: 18%;
  position: relative;
}

/* Checked answer button color changed */
.radio-toolbar input[type="radio"]:checked ~ * { 
  background:#007bff !important;
  color: white;
}

/* Hide the radio button */
input[type="radio"] {  
  opacity:0;                                      
}

/* tips lightbulb icon */
.fa-lightbulb {
  content: "\f0eb";
  color: rgba(0,123,255,.5);
}


.quiz-slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}




#logo {
  width: 8rem;
}

.slogan {
  font-family: 'Abang';
  color: #ffffff;
  font-size: 5rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}


/* Report description */
/* ul {
  list-style: square inside url("sqpurple.gif");
} */

/* Water tank */

.water-tank-subtitle {
  font-size: small;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#water-tank-left {
  margin: auto;
}

#water-tank-right {
  margin: 0% 5%;
}

.water-tanks {
  width: 50%;
  margin: 20%;
  display: inline-flex;
}

.water-tank {
  width:5em;
  height:10em;
  border:.3em solid #3A3A3A;
  border-top:none;
  box-sizing:border-box;
  position:relative;
  display: inline-block;
}

.water-tank .liquid {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}

.water-tank .liquid svg {
  height:30em;
  top: calc(97.5% - 90%);
  position:absolute;
  animation: waves 5s infinite linear;
}


@keyframes waves {
    0% { transform:translateX(-15em); }
    100% { transform:translateX(0); }
}

.water-tank .label {
  position:absolute;
  color:white;
  line-height:2em;
  width:4em;
  text-align:center;
  border-radius:.5em;
  margin-bottom: -1em;
  background-color:#3A3A3A;
  right:-4.9em;
  bottom:57%;
}

.water-tank .label:before {
  content:"";
  position:absolute;
  background-color:#3A3A3A;
  width:0.7em;
  height:0.7em;
  top:.65em;
  left:-0.3em;
  transform:rotate(45deg);
}

.water-tank .indicator {
  position:absolute;
  background-color:#3A3A3A;
  height:0.3em;
  width:1em;
  margin-bottom: -0.15em;
  right:0;
}

.water-tank .indicator[data-value="25"] {
  bottom: 25%;
}

.water-tank .indicator[data-value="50"] {
  bottom: 50%;
}

.water-tank .indicator[data-value="75"] {
  bottom: 75%;
}
/* Water tank wrapper */


/*!
 * Start Bootstrap - Grayscale v5.0.9 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

 #mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    /* background-color: transparent; */
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: #161616;
    font-family: Abang;
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: #1f4068;
    font-size: x-large;
  }
  #mainNav .nav-link:hover {
    color: #1b1b2f;
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

/*!
 * Start Bootstrap - Stylish Portfolio v5.0.7 (https://startbootstrap.com/template-overviews/stylish-portfolio)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-stylish-portfolio/blob/master/LICENSE)
 */

 body,
 html {
   width: 100%;
   height: 100%;
 }
 
 body {
   font-family: 'Source Sans Pro';
 }
 
 .btn-xl {
   padding: 1.25rem 2.5rem;
 }
 
 .content-section {
   padding-top: 7.5rem;
   padding-bottom: 7.5rem;
   height: 50%;
 }
 
 .content-section-heading h2 {
   font-size: 3rem;
 }
 
 .content-section-heading h3 {
   font-size: 1rem;
   text-transform: uppercase;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: 700;
 }
 
 .text-faded {
   color: rgba(255, 255, 255, 0.7);
 }
 
 /* Map */
 .map {
   height: 30rem;
 }
 
 @media (max-width: 992px) {
   .map {
     height: 75%;
   }
 }
 
 .map iframe {
   pointer-events: none;
 }
 
 .scroll-to-top {
   position: fixed;
   right: 15px;
   bottom: 15px;
   display: none;
   width: 50px;
   height: 50px;
   text-align: center;
   color: white;
   background: rgba(52, 58, 64, 0.5);
   line-height: 45px;
 }
 
 .scroll-to-top:focus, .scroll-to-top:hover {
   color: white;
 }
 
 .scroll-to-top:hover {
   background: #343a40;
 }
 
 .scroll-to-top i {
   font-weight: 800;
 }
 
 .masthead {
   min-height: 30rem;
   position: relative;
   display: table;
   width: 100%;
   height: auto;
   padding-top: 8rem;
   padding-bottom: 8rem;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 .masthead h1 {
   font-size: 4rem;
   margin: 0;
   padding: 0;
 }
 
 @media (min-width: 992px) {
   .masthead {
     height: 100vh;
   }
   .masthead h1 {
     font-size: 5.5rem;
   }
 }
 

 
 .service-icon {
   background-color:transparent;
   color: #0779e4;
   height: 3rem;
   width: 7rem;
   display: block;
   line-height: 2.5rem;
   font-size: 2.25rem;
   padding-bottom: 1rem;
   /* box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); */
 }
 
 .callout {
   padding: 15rem 0;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 .callout h2 {
   font-size: 3.5rem;
   font-weight: 700;
   display: block;
   max-width: 30rem;
 }
 
 .portfolio-item {
   display: block;
   position: relative;
   overflow: hidden;
   max-width: 530px;
   margin: auto auto 1rem;
 }
 
 .portfolio-item .caption {
   display: flex;
   height: 100%;
   width: 100%;
   background-color: rgba(33, 37, 41, 0.2);
   position: absolute;
   top: 0;
   bottom: 0;
   z-index: 1;
 }
 
 .portfolio-item .caption .caption-content {
   color: #fff;
   margin: auto 2rem 2rem;
 }
 
 .portfolio-item .caption .caption-content h2 {
   font-size: 0.8rem;
   text-transform: uppercase;
 }
 
 .portfolio-item .caption .caption-content p {
   font-weight: 300;
   font-size: 1.2rem;
 }
 
 @media (min-width: 992px) {
   .portfolio-item {
     max-width: none;
     margin: 0;
   }
   .portfolio-item .caption {
     -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
     -webkit-clip-path: inset(0px);
     clip-path: inset(0px);
   }
   .portfolio-item .caption .caption-content {
     transition: opacity 0.25s;
     margin-left: 5rem;
     margin-right: 5rem;
     margin-bottom: 5rem;
   }
   .portfolio-item img {
     -webkit-transition: -webkit-clip-path 0.25s ease-out;
     -webkit-clip-path: inset(-1px);
     clip-path: inset(-1px);
   }
   .portfolio-item:hover img {
     -webkit-clip-path: inset(2rem);
     clip-path: inset(2rem);
   }
   .portfolio-item:hover .caption {
     background-color: rgba(29, 128, 159, 0.9);
     -webkit-clip-path: inset(2rem);
     clip-path: inset(2rem);
   }
 }
 
 footer.footer {
   padding-top: 5rem;
   padding-bottom: 5rem;
   background-color: aliceblue;
 }
 
 footer.footer .social-link {
   display: block;
   height: 4rem;
   width: 4rem;
   line-height: 4.3rem;
   font-size: 1.5rem;
   background-color: #1D809F;
   transition: background-color 0.15s ease-in-out;
   box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
 }
 
 footer.footer .social-link:hover {
   background-color: #155d74;
   text-decoration: none;
 }
 
 a {
   color: #1D809F;
 }
 
 a:hover, a:focus, a:active {
   color: #155d74;
 }
 
 .btn-primary {
   background-color: #1D809F ;
   border-color: #1D809F ;
   color: #fff ;
 }
 
 .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
   background-color: #155d74 !important;
   border-color: #155d74 !important;
 }
 
 .btn-secondary {
   background-color: #ecb807 !important;
   border-color: #ecb807 !important;
   color: #fff !important;
 }
 
 .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
   background-color: #ba9106 !important;
   border-color: #ba9106 !important;
 }
 
 .btn-dark {
   color: #fff !important;
 }
 
 .btn {
   box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
   font-weight: 700;
   margin: 0.5rem;
 }
 
 .bg-primary {
   background-color: #1D809F !important;
 }
 
 .text-primary {
   color: #1D809F !important;
 }
 
 .text-secondary {
   color: #ecb807 !important;
 }
 
 @-webkit-keyframes shaker {
	0% { -webkit-transform: translate(10px, 0); }
	50% { -webkit-transform: translate(-10px, 0); }
	100% { -webkit-transform: translate(10px, 0); }
}

.shake {
	-webkit-animation-name: shaker;
	-webkit-animation-duration: 0.1s;
	-webkit-transform-origin:50% 50%;
  -webkit-animation-timing-function: linear;
}

.tips-image {
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  height: 250px;
}

#geo-input {
  position: relative;
  height: 40%;
  text-align: center;
}



/* Slideshow container Rainhouse*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeContentSlide, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  opacity: 1;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Rainhouse writeup */
.rainhouse-bg {
  padding-right: 2rem;
  text-align: left;
  font-size: larger;
}

/* Flicp card */

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  -webkit-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  /* background: #fff; */
  border-radius: 100%;
  /* color: #222; */
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  -webkit-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: orange;
}

.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
  background: tomato;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}

/* Stats */
.stats-row {
  margin-top: 65px;
}

.stats-col .circle {
  display: inline-block;
  width: 180px;
  height: 180px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #666;
  border: 6px solid #199EB8;
  border-radius: 50%;
  padding: 55px 25px 0 25px;
  position: relative;
}

.stats-col .circle .stats-no {
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  top: -25px;
  right: -15px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #E04F00;
  position: absolute;
  border-radius: 50%;
  font-weight: 700;
}


.input-guide {
  display: inline;
  position: relative;
  bottom: 1rem;
}

/* line behind title */
/* h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2:before,
h2:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 20px;
  flex: 1 0 20px;
}

h2:after {
  margin: 0 20px 0 20px;
} */

.rain-title {
text-align:center;
display: grid;
grid-template-columns: 1fr max-content 1fr;
grid-template-rows: 20px 0;
grid-gap: 20px;
align-items:center;
padding-left: 3rem;
padding-right: 3rem;
}

.rain-title:after,.rain-title:before {
content: " ";
display: block;
border-top: 1px solid #aaa;
border-bottom: 1px solid #aaa;
height:3px;

}

/* Blackquote Rainhosue */
#blockquote-rain {
  margin: 0 3rem 1rem;
  background: #f4f2ff;
  padding: 1rem;
  border-radius: 15px;
  border-left: 2px solid #9f77a9;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#main-content {
  max-width: 500px;
  margin: 0 auto;
  padding: 1px 0 0;
}


.responsive-iframe {
  width: 100%;
  height: 0;
  padding-bottom: 0%;
  position: relative;
}

/* .responsive-iframe iframe {
  position: absolute;
} */


/* footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}